{% extends "layouts/base.html" %}

{% block page_header %}
<h1>
  &nbsp&nbspJacob Farnsworth
</h1>
{% endblock %}

{% block menu %}
<h2>
  <em>
    &raquoTake a gander at 
    <a href="http://www.baroquebloke.com">My Photography</a>.
    <br>&raquoRead my resume below or 
    <a href="/static/FarnsworthResume.pdf" 
      download="Jacob Farnsworth's Resume">Download It Here</a>.
    <br>&raquoHave some questions?  Feel free to 
    <a href="mailto:jake@baroquebloke.com">Get In Touch</a>.
  </em>
</h2>
{% endblock %}

{% block personal %}
<h2>
  The Lowdown
  <br>...
</h2>
<p>
  Having done my time in higher education I decided to start the long and 
  arduous path to recovery.  Along the way I've developed a great eye for 
  photography, a fondness for good bread, old scifi, and 
  <a href="http://www.ouaismaisbon.ch" class="french">bizarre French humor</a>.  
  <br>
</p>
<p>
  Next stop?  Embracing my inner nerd.
</p>
{% endblock %}

{% block why_programming %}
<h2>
  What Brought Me Here?
  <br>...
</h2>
<p>
  When I was younger I fell in love with music.  This proceeded to guide my 
  life for well over a decade, through highschool, a couple years at 
  Florida State University, and finally to Oberlin Conservatory.  
  While there I met a girl who, unbeknownst to me, would steal me away to
  France and eventually become my wife.  
</p>
<p>
  Though we're stateside again those two years abroad helped me realize that, 
  despite my love for music, performance did not allow me to use my mind in 
  the ways I wanted.  So with the help of my wife, cheap wine, and expensive 
  moldy cheese I made the decision to head in a different direction: 
  programming.  
</p>
<p>
  In a way programming is not unlike music and French combined.  There is 
  still the challenge and excitement of learning a foreign language but also 
  the thrill of creating something beautiful.  
  I've been hooked ever since.
</p>
{% endblock %}

{% block skillz %}
<h2>
  Look What I Can Do!
  <br>...
</h2>
<p>
  On an average day I am a treasure trove of various skills and abilities.  
  Including, but not limited to:
  <h3>
    Code
  </h3>
  <ul>
    <li>
      HTML5
    </li>
    <li>
      CSS3
    </li>
    <li>
      Python
    </li>
    <li>
      Flask
    </li>
</p>

{% endblock %}

{% block hireMe %}
<h2>
  Hire Me, Damnit!!!
  <br>...
</h2>
{% endblock %}

{% block resume %}
<h2>
  Resume
  <br>...
</h2>
<h3>
  Education
</h3>
<ul>
  <li>
    <b>
      Bachelor of Music <i>2014</i> - Oberlin Conservatory of Music
    </b>
  </li>
  <ul>
    <li>
      major: baroque flute performance
    </li>
    <li>
      Conservatory Dean's Scholar
    </li>
  </ul>
  <li>
    <b>
      CRR de Paris, France <i>2011 - 2012</i>
    </b>
  </li>
  <ul>
    <li>
      French baroque music studies
    </li>
  </ul>
  <li>
    <b>
      Campus Langues, Paris <i>2012 - 2013</i>
    </b>
  </li>
  <ul>
    <li>
      French language studies
    </li>
  </ul>
  <li>
    <b>
      Florida State University <i>2006 - 2008</i>
    </b>
  </li>
  <ul>
    <li>
      coursework: general studies and flute performance
    </li>
  </ul>
</ul>
<h3>
  Work Experience
</h3>
<ul>
  <li>
    <b>
      Pipe Organ Technical Assistant <i>2009 - present</i>
    </b>
  </li>
  <ul>
    <li>
      Trained under supervision of Hal Gober, curator of Organs
        for Oberlin Conservatory.  Responsible for general maintenance of 
        Oberlin's numerous pipe organs
      </li>
  </ul>
  <li>
    <b>
      Sales Assistant and Fabricator for Country Popcorn, 
      Paris France <i>2011 - 2013</i>
    </b>
  </li>
  <ul>
    <li>
      Responsible for care of the work truck, set up and maintenance of
      equipment
    </li>
    <li>
      Cooked kettle corn by hand
    </li>
    <li>
      Interacted with large crowds of diverse nationalities and 
      languages
    </li>
  </ul>
  <li>
    <b>
      Freelance Construction Work <i>2009 - present</i>
    </b>
  </li>
  <ul>
    <li>
      framing, drywall instalation, demolition, remodeling, electrical, 
      and plumbing projects
    </li>
  </ul>
</ul>
<h3>
  Relevant Coursework
</h3>
<ul>
  <li>
    Python Programming, winter term projects working independently, 
    website design
  </li>
</ul>
<h3>
  Skills
</h3>
<ul>
  <li>
    Strong knowledge of operating systems and maintenance of Linux, 
    Mac OS X, and Windows
  </li>
  <li>
    Computer programming and web design
  </li>
  <li>
    Photography experience using many types of cameras, equipment, 
    and techniques
  </li>
  <li>
    Photo editing including Photoshop and Aperture
  </li>
  <li>
    Working proficiency in French
  </li>
  <li>
    Competency with power tools, woodworking, and general construction 
    techniques
  </li>
</ul>
{% endblock %}

{% block page_footer %}
<p>
  This is my foot
</p>
{% endblock %}
