<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jacob Farnsworth</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="container">
      <div class="header">
        {% block page_header %}
        <h1>Farnsworth Programming and Web Design</h1>
        {% endblock page_header %}
      </div>
      <div class="page-menu">
        <!--
        <menu>
            <a href="/index">Welcome</a>
            <a href="/about_me">About Me</a>
            <a href="/resume">Hire Me</a>
        </menu>
        -->
      </div>
      <div class="page-content">
        {% block content %}
        {% endblock %}
      </div>
      <div class="page-footer">
        {% block page_footer %}
        This is my foot
        {% endblock page_footer %}
      </div>
    </div>
  </body>
</html>

