<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Site of Jake... Duh duh duuuuuuuuuuuh</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="container">
    <div class="header">
    {% block page_header %}
    <header>
      The name's Jacob Farnsworth,
          No, you may not call me The Professor.
    </header></div>
    {% endblock page_header %}
      <div class="menu">
        <b><a href="http://0.0.0.0:5000/about_me">About Me</a></b><br>
        <b><a href="http://0.0.0.0:5000/resume">My Resume</a></b><br>
        <b><a href="http://0.0.0.0:5000/index">Index</a></b>
      </div>
    {% block content %}
    <div class="page-content">
    </div>
    {% endblock %}
    {% block page_footer %}
    <div class="page-footer">
    <footer>
      Thanks for stopping by!
    </footer></div>
    {% endblock page_footer %}
  </div>
  </body>
</html>
