<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Site of Jake... Duh duh duuuuuuuuuuuh</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <div class="container">
    <div class="header">
    {% block page_header %}
    <header>
      The name's Jacob Farnsworth,
          No, you may not call me The Professor.
    </header></div>
    {% endblock page_header %}
   
    <div id="menu">
      <span>
        <a href="/about_me">About Me</a>
        <a href="/resume">My Resume</a>
        <a href="/index">Index</a>
      </span>
    </div>
    
    {% block content %}
    <div class="page-content"></div>
    {% endblock %}
    {% block page_footer %}
    <div class="page-footer">
    <footer>
      Thanks for stopping by!
    </footer></div>
    {% endblock page_footer %}
  </div>
  </body>
</html>
