html {
  background-color: #F0F0D8;
}

.container {
  background-color: #DDDDBA;
  font-family: courier;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.header {
  background-color: #F0C030;
  text-align: center;
}

#menu {
  background-color: #F0F0C0;
  height: 20px;
  width: 100%;
  text-align: center;
  clear: both;
}

.page-content {
  height: 100%;
  width: 10%; 
  float: left;
}

.page-footer { 
  background-color: #F0C030;
  clear: both;
  text-align: center;
}
