{% extends "layouts/base.html" %}

{% block page_header %}
My name is Jake.  I eat steel for breakfast and I like kittens.
{% endblock page_header %}


{% block content %}
This page is all about me.  Which is to say everything does in fact revolve around me.  

I also do things.  Like build shit and take photos.  And stuff.

Lots of stuff.  

Banana.
{% endblock %}


{% block page_footer %}
Thanks for visiting.  You will hire me.  Once I manage to make this look all pretty like.  
{% endblock page_footer %}
